body, button, input, optgroup, select, span, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Arial,sans-serif;
}

/*************************************************
                MOBILE VERSION
**************************************************/

/*************************************************
                CODES FOR HOME PAGE
**************************************************/

/*************************************************
                     BANNER
**************************************************/
.bannerimage{
    width: 375px;
}


/***********************************************************
                                NAV
***********************************************************/
.companylogo{
    width: 150px;
}

ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}

li a:hover {
    background-color: #ff0000;
    /* adds margin with the colour set around the texts */
    margin-left: 0.5px;
    margin-right: 0.5px;

  }

li a{
    display: block;
    color: black;
}


nav ul{
    text-align: center;
}

nav li{
    display: inline;
}

nav li a{
    order: 1;
    text-align: center;
    position: relative;

    padding: 20px;
}

nav a{
    margin:0 0;/* Xpx on the top and bottom, Xpx on the left and right*/
    text-decoration: none;/* removes the underline default from the links */
}


nav ul {
    overflow: hidden;
}

/*THIS IS FOR FOOTER */
footer p{
    font-size: 12px;
    margin-left: 2%;
    color: white;
}
footer{
    background-color: #222;
}


/*************************************************
                PLATFORM SECTION
**************************************************/
.playstationimg, .xboximg, .nintendoimg, .pcimg{
    width: 100%;
}

.playstation-platform{
    margin-top: 150px;

    margin-left: 2%;
    background-color:rgb(40, 126, 230);


}

.nintendo-platform{
    background-color:rgb(255, 0, 0);
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;

}

.xbox-platform{
    background-color:rgb(109, 184, 100);
    margin-top: 150px;
    margin-left: 2%;
    margin-right: 2%;
}

.pc-platform{
    background-color:rgb(116, 116, 116);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 100px;
}

.playstation-platform, .nintendo-platform , .xbox-platform, .pc-platform h2{
    text-align: center;
}


/*************************************************
            END OF PLATFORM SECTION
**************************************************/

/*************************************************
                    ON SALE PAGE
**************************************************/

.productSaving_top{
    color: #ff0000;
}
.game_one button, .game_two button, .game_three button{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 50px;
    border-color: transparent;
    margin-bottom: 5%;
    color: rgb(242, 242, 242);
}

/* targets img attribut from every game list class */

.game_one img, .game_two img, .game_three img{
    width: 375px;


}
/*************************************************
                END OF ON SALE PAGE
**************************************************/



/*************************************************
                CONTACT US PAGE
**************************************************/
.map{
    width: 100%;
    height: 300px;
}

#message, #useremail, #username{
    margin-top: 5px;
    width: 335px;
    height: 15px;
}

#message{
    width: 335px;
    height: 100px;
}


/* this also fixes the desktop version, where "contact" goes over the nav */
.infos{
    gap: 20px;
    margin-left: 2%;
    margin-top: 10%;
}
.infos button{
    background-color: rgb(242, 242, 242);
    border-color: transparent;
    margin-bottom: 5%;
    color: rgb(255, 0, 0);
}




/*************************************************
            END OF CONTACT US PAGE
**************************************************/





/*************************************************
                    DESKTOP
**************************************************/
@media only screen and (min-width: 760px){

    html{
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h1{
        font-size: 250%;
        font-weight: bold;
    }

    @import url('https://fonts.googleapis.com/css2?family=Open+San&display=swap');
    .container{
    width: 1200px;
    background: white;
    font-family: 'Open Sans' , sans-serif;
    }

    .container{
    /* centers the childrens from the class using-viewport */
    margin-left: auto;
    margin-right: auto;
    /* percent responds to the element's parent, in this case the element with the class .using-viewport */
    background-position: center;
    }

/***********************************************************
                            NAV
***********************************************************/

.companylogo{
    width: 200px;
    order: 2;
    background-color: transparent;
    z-index: 5;
}

ul{
    margin: -25px;
}
nav li a{
    display: inline;
    position: relative;
    list-style: none;
}

nav{
    z-index: 7;
}

header{
    padding: 0;
    padding-bottom: 0;
}

footer{
    padding: 0;
    margin: 0;
}

/******************************
            ANIMATIONS
*******************************/

/* this animation fades the logo when hovering */
.companylogo:hover{
    opacity: 0.3;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
/******************************
        END OF ANIMATIONS
*******************************/

/*************************************************
                    ON SALE PAGE
**************************************************/
.gamessale-grid{
    margin-top: 6%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.game_one img{
    height: 470px;
    width: 90%;
}

.game_one{
    display: inline-block;
}

.game_two{
    display: inline-block;
}

.game_three{
    display: inline-block;
}



/*************************************************
                END OF ON SALE PAGE
**************************************************/


/***********************************************************
                        END OF NAV
***********************************************************/


/***********************************************************
                    PLATFORMS SELECTIONS
***********************************************************/
.platforms-grid{
    display:grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(1, auto);

}

.playstation-platform{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;

    /* it makes the background colour stick out to the x axis and not y axis */
    display: flex;
    flex: 1;

    height: 300px;
}

.xbox-platform{
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;

    display: flex;
    flex: 1;

    height: 300px;
}

.nintendo-platform{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;

    display: flex;
    flex: 1;

    height: 300px;
}

.pc-platform{
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 7;

    display: flex;
    flex: 1;

    height: 300px;
}

/***********************************************************
                END OF PLATFORMS SELECTIONS
***********************************************************/

/***********************************************************
                        FORM AND ELSE
***********************************************************/

/* creating width for the input box */
#message, #username, #useremail{
    width: 500px;
}

/* creates a template grid for the contact us elements (forms and map) */
.infos{
    display: grid;
    
}

.location{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
.form{
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;

}
/***********************************************************
                    END OF FORM AND ELSE
***********************************************************/

/***********************************************************
                            MAIN
***********************************************************/
.banner{
    padding-bottom: 50px;
}

.companylogo{
    background-color: transparent;
    z-index: 5;
}

nav{
    z-index: 7;
}
/***********************************************************
                        END OF MAIN
***********************************************************/

/* END OF DESKTOP MEDIA */
}

